{{ 'contact_details.css' | asset_url | stylesheet_tag }}

<div class="heading">

</div>

<div class="info_details">
    <div class="phone">
        <div class="title">
            Phone
        </div>
        <div class="content">
            {{ section.blocks.Details_info.settings.phone }}
        </div>
    </div>
    <div class="address">
        <div class="title">
            Address
        </div>
        <div class="content">
            {{ section.blocks.Details_info.settings.address }}
        </div>
    </div>
    <div class="email">
        <div class="title">
            Email
        </div>
        <div class="content">
            {{ section.blocks.Details_info.settings.email }}
        </div>
    </div>
</div>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.314514679084!2d105.78179631492932!3d21.020097893449915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4c50a6bcf7%3A0x6a91f7f04869ae43!2sArrowHiTech%20Jsc!5e0!3m2!1svi!2s!4v1657779355326!5m2!1svi!2s" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

<div class="notes">
    <div class="note_1">
        {{ section.blocks.notes.settings.note_1 }}
    </div>
    <div class="note_2">
        {{ section.blocks.notes.settings.note_2 }}
    </div>
</div>

{% schema %}
{
    "name": "Contact Details",
    "tag": "div",
    "settings": [
    ],
    "blocks": [
        {
            "type": "heading",
            "name": "Details header",
            "limit": 1,
            "settings": [
                {
                    "type":"text",
                    "id": "header_line_1",
                    "label":"header line 1"
                },
                {
                    "type":"text",
                    "id": "header_line_2",
                    "label":"header line 2"
                }
            ]
        },
        {
            "type": "text",
            "name": "Details_info",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "phone",
                    "label": "phone number"
                },
                {
                    "type": "text",
                    "id":"address",
                    "label": "address"
                },
                {
                    "type": "text",
                    "id": "email",
                    "label": "email"
                }
            ]
        },
        {
            "type": "navigation",
            "name": "Navigation",
            "limit": 1,
            "settings": [
                {
                    "type": "url",
                    "id": "navigation_url",
                    "label": "Navation URL"
                }
            ]
        },
        {
            "type": "notes",
            "name": "notes",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "note_1",
                    "label": "Note 1"
                },
                {
                    "type": "text",
                    "id": "note_2",
                    "label": "Note 2"
                }
            ]
        }
    ]
}
{% endschema %}