{{ 'contact_details.css' | asset_url | stylesheet_tag }}

<div class="container_contact_details">
    {% for block in section.blocks %}
        {%- case block.type -%}
            {%- when 'heading' -%}
                {% if  block.settings.header_line_1 != blank or block.settings.header_line_2 != blank  %}
                    <div class="heading">
                        {% if block.settings.header_line_1 != blank %}
                            <div class="heading_line_1">
                                {{ block.settings.header_line_1 }}
                            </div>
                        {% endif %}
                        {% if block.settings.header_line_2 != blank %}
                            <div class="heading_line_2">
                                {{ block.settings.header_line_2 }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {%- when 'text' -%}
                <div class="info_details">
                    {% if block.settings.details_label_1 != blank or block.settings.details_label_2 != blank or block.settings.details_label_3 != blank %}
                        {% if block.settings.details_label_1 != blank %}
                            <div class="phone">
                                <div class="title_info">
                                    PHONE
                                </div>
                                <div class="content">
                                    {{ block.settings.phone }}
                                </div>
                            </div>
                        {% endif %}
                        {% if block.settings.details_label_2 != blank %}
                            <div class="address">
                                <div class="title_info">
                                    ADDRESS
                                </div>
                                <div class="content">
                                    {{ block.settings.address }}
                                </div>
                            </div>
                        {% endif %}
                        {% if block.settings.details_label_3 != blank %}
                            <div class="email">
                                <div class="title_info">
                                    EMAIL
                                </div>
                                <div class="content">
                                    {{ block.settings.email }}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {%- when 'navigation' -%}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.314514679084!2d105.78179631492932!3d21.020097893449915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4c50a6bcf7%3A0x6a91f7f04869ae43!2sArrowHiTech%20Jsc!5e0!3m2!1svi!2s!4v1657779355326!5m2!1svi!2s" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            {% when 'notes' %}
                {% if block.settings.note_1 != blank or block.settings.note_2 != blank %}
                    <div class="notes">
                        {% if block.settings.note_1 != blank %}
                            <div class="note_1">
                                {{ block.settings.note_1 }}
                            </div>
                        {% endif %}
                        {% if block.settings.note_2 != blank %}
                            <div class="note_2">
                                {{ block.settings.note_2 }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}  
        {%- endcase -%}
    {% endfor %}
</div>

{% schema %}
{
    "name": "Contact details",
    "blocks": [
        {
            "type": "heading",
            "name": "Details header",
            "limit": 1,
            "settings": [
                {
                    "type":"text",
                    "id": "header_line_1",
                    "label":"Header line 1"
                },
                {
                    "type":"text",
                    "id": "header_line_2",
                    "label":"Header line 2"
                }
            ]
        },
        {
            "type": "text",
            "name": "Details info",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "details_label_1",
                    "label": "Details label 1"
                },
                {
                    "type": "text",
                    "id": "details_content_1",
                    "label": "Details content 1"
                },
                {
                    "type": "text",
                    "id": "details_label_2",
                    "label": "Details label 2"
                },
                {
                    "type": "text",
                    "id": "details_content_2",
                    "label": "Details content 2"
                },
                {
                    "type": "text",
                    "id": "details_label_3",
                    "label": "Details label 3"
                },
                {
                    "type": "text",
                    "id": "details_content_3",
                    "label": "Details content 3"
                }
            ]
        },
        {
            "type": "navigation",
            "name": "Navigation",
            "limit": 1,
            "settings": [
                {
                    "type": "url",
                    "id": "navigation_url",
                    "label": "Navigation url"
                }
            ]
        },
        {
            "type": "notes",
            "name": "Notes",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "note_1",
                    "label": "Note 1"
                },
                {
                    "type": "text",
                    "id": "note_2",
                    "label": "Note 2"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Contact details",
            "blocks": [
                {
                    "type": "heading"
                },
                {
                    "type": "text"
                },
                {
                    "type": "navigation"
                },
                {
                    "type": "notes"
                }
            ]
        }
    ]
}
{% endschema %}