{{ 'featured-collection-custom.css' | asset_url | stylesheet_tag }}
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>


<div class="featured-collection-custom-container">
  {% if section.settings.heading != blank %}
    <div class="featured-collection-custom-header">
      {{ section.settings.heading }}
    </div>
  {% endif %}
  {% if section.settings.sub_heading != blank %}
    <div class="featured-collection-custom-sub-header">
      {{ section.settings.sub_heading }}
    </div>
  {% endif %}
  <div class="featured-collection-custom-content">
    {% for product in section.settings.collection.products %}
      <div class="product" {%- if section.settings.item_number_allowed  -%}
        
      {%- endif -%}>
        <div class="product-image">
          <div class="image-container">
            <a href="{{ product.url }}"><img id="product-image-{{ product.id }}" src="{{ product.featured_image | image_url }}" alt=""></a>
          </div>
          {% if product.compare_at_price != blank %}
            <div class="product-discount">
               -{{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price }}%
            </div>
          {% endif %}
        </div>
        <div class="product-info">
          <div class="product-title">
            <a href="{{ product.url }}">{{ product.title }}</a>
          </div>
          <div class="product-ratings">
            <a href="{{ product.url }}#reviews-product-id" alt="{{ 'products.product.reviews' | t }}" title="{{ 'products.product.reviews' | t }}">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </a>
          </div>
          <div class="product-variables">
            <div class="product-prices">
              {% if product.compare_at_price != null %}
                <div class="compare-at-price">
                  <a href="{{ product.url }}">{{ product.compare_at_price | money_without_trailing_zeros }}</a>
                </div>
              {% endif %}
              <div class="current-price">
                <a href="{{ product.url }}">{{ product.price | money_without_trailing_zeros }}</a>
              </div>
            </div>
            {% if product.has_only_default_variant == false %}
              <div class="product-vars">
                {% for variant in product.variants %}
                  <button class="dot" id="{{ product.id }}-{{ variant.title }}" style="background-color: {{ variant.title }};" data-image="{{ variant.image | image_url: width: 350, height: 350 }}" onclick="return chooseVariant('{{ product.id }}-{{ variant.title }}','{{ product.id }}')"></button>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <script type="text/javascript">
    function chooseVariant(id, id_product){
      var image = document.getElementById(id);
      $('#product-image-'+id_product).attr("src", image.getAttribute("data-image"));
    }
  </script>
</div>

{% schema %}
{
  "name": "Featured collection cus",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "item_number_allowed",
      "label": "Number of items allowed to show",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Featured collection cus"
    }
  ]
}
{% endschema %}
