{{ 'featured-collection-custom.css' | asset_url | stylesheet_tag }}

<div class="featured-collection-custom-container">
  {% if section.settings.heading != blank %}
    <div class="featured-collection-custom-header">
      {{ section.settings.heading }}
    </div>
  {% endif %}
  {% if section.settings.sub_heading != blank %}
    <div class="featured-collection-custom-sub-header">
      {{ section.settings.sub_heading }}
    </div>
  {% endif %}
  <div class="featured-collection-custom-content">
    {% for product in section.settings.collection.products %}
      <div class="product" style="width: 24%;">
        <div class="product-image">
          <img src="{{ product.featured_image | img_url }}" alt="">
        </div>
        <div class="product-info">
          <div class="product-title">
            {{ product.title }}
          </div>
          <div class="product-ratings">
            <a href="{{ product.url }}#reviews-product-id" alt="{{ 'products.product.reviews' | t }}" title="{{ 'products.product.reviews' | t }}">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </a>
          </div>
          <div class="product-variables">
            {% if product.compare_at_price != null %}
              <div class="compare-at-price">
                {{ product.compare_at_price | money_without_trailing_zeros }}
              </div>
            {% endif %}
            <div class="current-price">
              {{ product.price | money_without_trailing_zeros }}
            </div>
            {% if product.has_only_default_variant == false %}
              <div class="product-vars">
                {% for variable in product.options_by_name['color'].values %}
                  {{ variable }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Featured collection cus",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Featured collection cus"
    }
  ]
}
{% endschema %}
