{{ 'featured-blog-custom.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="featured-blog-custom">
  <div class="featured-blog-custom-header">
    {% if section.settings.heading != blank %}
      {{ section.settings.heading }}
    {% endif %}
  </div>
  <div class="featured-blog-custom-sub-header">
    {% if section.settings.sub_heading != blank %}
      {{ section.settings.sub_heading }}
    {% endif %}
  </div>
  <div class="featured-blog-custom-posts">
    {% for article in section.settings.blog.articles limit: section.settings.post_num %}
      <div class="blog-post" {% if section.settings.post_num == 2 or section.settings.post_num > 3 %} style="width: 49%;" {%- else -%} style="width: 32.5%;" {% endif %}>
        <div class="blog-post-img">
          <a href="{{ article.url }}">
            <img src="{{ article.image | img_url: 'medium' }}" alt="">
          </a>
        </div>
        <div class="blog-post-content">
          <div class="blog-post-title">
            <a href="{{ article.url }}">{{ article.title }}</a>
          </div>
          <div class="blog-post-sub_title">
            {% if section.settings.show_date == true %}
              <i class="fa-solid fa-calendar"></i> &nbsp; {{ article.created_at | date: "%b %d, %Y" }} &emsp;
            {% endif %}
            {% if section.settings.show_comments == true %}
              <i class="fa-solid fa-comment"></i> &nbsp; {{ article.comments_count }} {% if article.comments_count <= 1 %} comment {% else %} comments {% endif %}
            {% endif %}
          </div>
          <div class="blog-post-excerpt">
            {% if article.excerpt != null or article.content != null %}
              {% if article.excerpt != null %}
                <a href="{{ article.url }}">{{ article.excerpt }}</a><br>
                {%- else -%}
                  <a href="{{ article.url }}">{{ article.content }}</a><br>
              {% endif %}
            {% endif %}
            <a class="read_more" href="{{ article.url }}">Read more...</a>
          </div>
        </div>
      </div>
    {% endfor %} 
  </div>
</div>

{% schema %}
{
  "name": "Featured blogs custom",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "default": "section sub heading",
      "label": "Sub heading"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_comments",
      "label": "Show Comments",
      "default": true
    },
    {
      "type": "range",
      "id": "post_num",
      "label": "Number of post allowed to show",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog post"
    }
  ],
  "presets": [
    {
      "name": "Featured blog custom"
    }
  ]
}
{% endschema %}
