{{ 'multiple_slider.css' | asset_url | stylesheet_tag }}

<div class="container">
    {% for block in section.blocks %}
      {%- if block.settings.image != blank -%}
        <div class="w3-display-container mySlides1 "
          {% if block.settings.slider_width != null %}
            style="width: {{ block.settings.slider_width }};"
          {% endif %}
        >
            <img 
                class="mySlides_image"
                src="{{ block.settings.image | image_url }}" 
                alt="slider error!"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
                loading="lazy"
            >
            <div class="image_content"
              {% if block.settings.desktop_content_alignment != null %}
                style="text-align: {{ block.settings.desktop_content_alignment }};"
              {% endif %}
            >
              {{ block.settings.heading }}
            </div>
        </div>
      {%- endif -%}
    {% endfor %}
    <button class="w3-button w3-display-left" onclick="plusDivs1(-1)">&#10094;</button>
    <button class="w3-button w3-display-right" onclick="plusDivs1(+1)">&#10095;</button>
</div>

<script>
  var slideIndex = 1;
  
  showDivs1(slideIndex);

  function plusDivs1(n) {
    showDivs1(slideIndex += n);
  }

  function showDivs1(n) {
    var i;
    var x = document.getElementsByClassName("mySlides1");
    if(x.length > 1) {
      for(i=1; i<x.length; i++){
        x[i].style.position = "absolute";
        x[i].style.top = 0;
        x[i].style.left = 0;
      }
    }
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
      console.log(x[i]);
    }
    x[slideIndex-1].style.display = "block";  
  }
</script>

{% schema %}
{
  "name": "multiple_slider",
  "class": "div",
  "settings": [
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "slider",
      "limit": 3,
      "settings": 
      [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Slider content",
          "label": "heading"
        },
        {
          "type": "select",
          "id": "slider_width",
          "label": "slider_width",
          "options": [
            {
              "value": "100%",
              "label": "100%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "25%",
              "label": "25%"
            }
          ]
        },
        {
          "type": "select",
          "id": "desktop_content_alignment",
          "label": "desktop_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "center",
              "label": "center"
            },
            {
              "value": "flex-end",
              "label": "right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "label": "desktop_content_position",
          "options": [
            {
              "value": "top-left",
              "label": "top-left"
            },
            {
              "value": "top-center",
              "label": "top-center"
            },
            {
              "value": "top-right",
              "label": "top-right"
            },
            {
              "value": "middle-left",
              "label": "middle-left"
            },
            {
              "value": "middle-center",
              "label": "middle-center"
            },
            {
              "value": "middle-right",
              "label": "middle-right"
            },
            {
              "value": "bottom-left",
              "label": "bottom-left"
            },
            {
              "value": "bottom-center",
              "label": "bottom-center"
            },
            {
              "value": "bottom-right",
              "label": "bottom-right"
            }
          ],
          "default": "middle-center"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "multiple-slider",
      "blocks": [
        {
          "type": "slider"
        }
      ]
    }
  ]
}
{% endschema %} 