{{ 'slider.css' | asset_url | stylesheet_tag }}

<div class="container">
    {%- if section.settings.image_1 != blank -%}
        <div class="image">
            <img 
                src="{{ section.settings.image_1 | image_url }}" 
                alt=""
                width="{{ section.settings.image_1.width }}"
                height="{{ section.settings.image_1.width | divided_by: section.settings.image_1.aspect_ratio }}"
                loading="lazy"
            >
        </div>
    {%- endif -%}
    {%- if section.settings.image_2 != blank -%}
        <div class="image">
            <img 
                src="{{ section.settings.image_2 | image_url }}" 
                alt=""
                width="{{ section.settings.image_2.width }}"
                height="{{ section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio }}"
                loading="lazy"
            >
        </div>
    {%- endif -%}
    <div class="content"
        {% if section.settings.desktop_content_alignment == "left" %}
            style="align-items;: left"
        {% elsif section.settings.desktop_content_alignment == "right" %}
            style="align-items;: right"
        {% endif %}
    >
        {%- for block in section.blocks -%}

            {%- case block.type -%}
                {% when 'heading' %}
                    <div class="heading">
                        <span 
                            {% if section.settings.desktop_content_alignment == "left" %}
                                style="text-align: left"
                            {% elsif section.settings.desktop_content_alignment == "right" %}
                                style="text-align: right"
                            {% endif %}
                        >
                            {{ block.settings.heading | escape }}
                        </span>
                    </div>
                {% when 'text' %}
                    <div class="text">
                        <span
                            {% if section.settings.desktop_content_alignment == "left" %}
                                style="text-align: left"
                            {% elsif section.settings.desktop_content_alignment == "right" %}
                                style="text-align: right"
                            {% endif %}
                        >
                            {{ block.settings.text | escape }}
                        </span>
                    </div>
                {% when 'buttons' %}
                    <div class="buttons">
                        <a {% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %}>{{ block.settings.button_label | escape }}</a>
                    </div>
            {%- endcase -%}

        {%- endfor -%}
    </div>
</div>

{% schema %}
{
  "name": "slider",
  "class": "div",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "image_1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "image_2"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "default": 0,
      "label": "image_overlay_opacity"
    },
    {
      "type": "select",
      "id": "banner_height",
      "label": "banner_height",
      "options": [
        {
          "value": "small",
          "label": "small"
        },
        {
          "value": "medium",
          "label": "medium"
        },
        {
          "value": "high",
          "label": "high"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "label": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "top-left"
        },
        {
          "value": "top-center",
          "label": "top-center"
        },
        {
          "value": "top-right",
          "label": "top-right"
        },
        {
          "value": "middle-left",
          "label": "middle-left"
        },
        {
          "value": "middle-center",
          "label": "middle-center"
        },
        {
          "value": "middle-right",
          "label": "middle-right"
        },
        {
          "value": "bottom-left",
          "label": "bottom-left"
        },
        {
          "value": "bottom-center",
          "label": "bottom-center"
        },
        {
          "value": "bottom-right",
          "label": "bottom-right"
        }
      ],
      "default": "middle-center"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "label": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "center"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.slider.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image Banner",
          "label": "heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "heading_size",
          "options": [
            {
              "value": "Small",
              "label": "Small"
            },
            {
              "value": "Medium",
              "label": "Medium"
            },
            {
              "value": "Large",
              "label": "Large"
            }
          ],
          "default": "Medium"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.slider.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "text",
          "default": "abcde"
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "text_style",
          "options": [
            {
              "value": "body",
              "label": "body"
            },
            {
              "value": "subtitle",
              "label": "subtitle"
            },
            {
              "value": "uppercase",
              "label": "uppercase"
            }
          ]
        }
      ]
    },
    {
      "type": "buttons",
      "name": "buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "shop now",
          "label": "button_label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "button_link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "image-slider",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %} 